<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>综合练习</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name='viewprot' content='width=device-width,minmum-scale=1.0,maxmum-scale=1.0'>
	<link href="dome1.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id='app'>
	<p>
		用我们学过的指令 v-model @ v-if和 methods 创建一个 Vue 实例;
		在输入框内输入数据，按下回车键，自动添加到页面中，点击删除，删除该指令;动手试试吧
	</p>
	<input type='text' placeholder='edit something '
		   class='edit' autofocus
		   v-model='items.content'
		   @keydown.enter='addTask'
	>
	<ul class='task'>
		<li v-for='(item,index) in list' :key='index'>
			<input @click='changeState(index)'
				   :checked='item.finished'
				   type='checkbox'>
			<span :class="{'finish':item.finished}">{{item.content}}</span>
			<button @click='removeList(index)' class='del'>删除</button>
		</li>
	</ul>
	<p class='empty' v-if='list.length===0'>暂无内容</p>
</div>
</body>
<script type="text/javascript" src='js/vue.min.js'></script>
<script type="text/javascript" src='js/public/pouchdb.min.js'></script>
<script type="text/javascript" src='js/public/jquery-1.11.0.min.js'></script>
<script type="text/javascript" src="dome1.js"></script>
</html>